<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarterFunds - Deposit - Automated - Successful</title>

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.svg">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/admin/css/vendor/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="/assets/global/css/all.min.css">
    <link rel="stylesheet" href="/assets/global/css/line-awesome.min.css">

    <link rel="stylesheet" href="/assets/global/css/select2.min.css">
    <link rel="stylesheet" href="/assets/admin/css/app.css">

</head>

<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper default-version">
        <div class="sidebar bg--dark">
            <button class="res-sidebar-close-btn"><i class="las la-times"></i></button>
            <div class="sidebar__inner">
                <div class="sidebar__logo">
                    <a href="#" class="sidebar__main-logo"><img src="../assets/images/logoIcon/logo-dark.png"
                            alt="image"></a>
                </div>

                <div class="sidebar__menu-wrapper" id="sidebar__menuWrapper">
                    <ul class="sidebar__menu">
                        <li class="sidebar-menu-item active">
                            <a href="index.html" class="nav-link ">
                                <i class="menu-icon las la-home"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon las la-users"></i>
                                <span class="menu-title">Manage Users</span>
                            </a>
                            <div class="sidebar-submenu ">
                                <ul>
                                    <li class="sidebar-menu-item  ">
                                        <a href="users/active.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Active
                                                Users</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="users/banned.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Banned
                                                Users</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="users/email-unverified.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Email
                                                Unverified</span>

                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="users/mobile-unverified.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Mobile
                                                Unverified</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="users/kyc-unverified.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">KYC
                                                Unverified</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="users/kyc-pending.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">KYC
                                                Pending</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="users/with-balance.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">With
                                                Balance</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="users/users.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">All
                                                Users</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="users/send-notification.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Notification
                                                to All</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-menu-item  ">
                            <a href="currency/index.html" class="nav-link" data-default-url="currency/index.html">
                                <i class="menu-icon las la-money-bill"></i>
                                <span class="menu-title">Manage Currencies
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item  ">
                            <a href="gateway/automatic.html" class="nav-link">
                                <i class="menu-icon las la-credit-card"></i>
                                <span class="menu-title">Payment
                                    Gateways</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon las la-exchange-alt"></i>
                                <span class="menu-title">Exchange</span>
                                <span class="menu-badge pill bg--danger ms-auto">
                                    <i class="fa fa-exclamation"></i>
                                </span>
                            </a>
                            <div class="sidebar-submenu  ">
                                <ul>
                                    <li class="sidebar-menu-item  ">
                                        <a href="exchange/pending.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Pending
                                                Exchange</span>
                                            <span class="menu-badge pill bg--danger ms-auto">0</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="exchange/canceled.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Canceled
                                                Exchange</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="exchange/refunded.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Refunded
                                                Exchange</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="exchange/approved.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Approved
                                                Exchange</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="exchange/list.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">All
                                                Exchange</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon la la-bank"></i>
                                <span class="menu-title">Withdrawals </span>
                                <span class="menu-badge pill bg--danger ms-auto">
                                    <i class="fa fa-exclamation"></i>
                                </span>
                            </a>
                            <div class="sidebar-submenu  ">
                                <ul>
                                    <li class="sidebar-menu-item  ">
                                        <a href="withdraw/pending.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Pending
                                                Withdrawals</span>

                                            <span class="menu-badge pill bg--danger ms-auto">12</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="withdraw/approved.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Approved
                                                Withdrawals</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="withdraw/rejected.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Rejected
                                                Withdrawals</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item  ">
                                        <a href="withdraw/log.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">All
                                                Withdrawals</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon la la-ticket"></i>
                                <span class="menu-title">Support Ticket
                                </span>
                                <span class="menu-badge pill bg--danger ms-auto">
                                    <i class="fa fa-exclamation"></i>
                                </span>
                            </a>
                            <div class="sidebar-submenu  ">
                                <ul>
                                    <li class="sidebar-menu-item  ">
                                        <a href="ticket/pending.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Pending
                                                Ticket</span>
                                            <span class="menu-badge pill bg--danger ms-auto">6</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="ticket/closed.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Closed
                                                Ticket</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="ticket/answered.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Answered
                                                Ticket</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="ticket/ticket.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">All
                                                Ticket</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon la la-list"></i>
                                <span class="menu-title">Report </span>
                            </a>
                            <div class="sidebar-submenu  ">
                                <ul>

                                    <li class="sidebar-menu-item ">
                                        <a href="report/referral/commission.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Referall
                                                Commissions</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="report/login/history.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Login
                                                History</span>
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item ">
                                        <a href="report/notification/history.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Notification
                                                History</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="sidebar-menu-item  ">
                            <a href="subscriber.html" class="nav-link" data-default-url="subscriber">
                                <i class="menu-icon las la-thumbs-up"></i>
                                <span class="menu-title">Subscribers </span>
                            </a>
                        </li>

                        <li class="sidebar__menu-header">Settings</li>

                        <li class="sidebar-menu-item ">
                            <a href="general-settings.html" class="nav-link">
                                <i class="menu-icon las la-life-ring"></i>
                                <span class="menu-title">General
                                    Setting</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item ">
                            <a href="setting/social/credentials.html" class="nav-link">
                                <i class="menu-icon las la-users-cog"></i>
                                <span class="menu-title">Social
                                    Credentials</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item ">
                            <a href="setting/system-configuration.html" class="nav-link">
                                <i class="menu-icon las la-cog"></i>
                                <span class="menu-title">System
                                    Configuration</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item  ">
                            <a href="referral.html" class="nav-link" data-default-url="referral">
                                <i class="menu-icon las la-link"></i>
                                <span class="menu-title">Referral
                                    Setting</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item ">
                            <a href="setting/logo-icon.html" class="nav-link">
                                <i class="menu-icon las la-images"></i>
                                <span class="menu-title">Logo &
                                    Favicon</span>
                            </a>
                        </li>



                        <li class="sidebar-menu-item ">
                            <a href="seo.html" class="nav-link">
                                <i class="menu-icon las la-globe"></i>
                                <span class="menu-title">SEO Manager</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item ">
                            <a href="kyc-settings.html" class="nav-link">
                                <i class="menu-icon las la-user-check"></i>
                                <span class="menu-title">KYC Setting</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item ">
                            <a href="blocked-ip.html" class="nav-link">
                                <i class="menu-icon las la-map-marked"></i>
                                <span class="menu-title">IP Blocking</span>
                            </a>
                        </li>

                        <li class="sidebar-menu-item sidebar-dropdown">
                            <a href="javascript:void(0)" class>
                                <i class="menu-icon las la-bell"></i>
                                <span class="menu-title">Notification
                                    Setting</span>
                            </a>
                            <div class="sidebar-submenu  ">
                                <ul>
                                    <li class="sidebar-menu-item  ">
                                        <a href="notification/global.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Global
                                                Template</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="notification/email/setting.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Email
                                                Setting</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="notification/sms/setting.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">SMS
                                                Setting</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item  ">
                                        <a href="notification/templates.html" class="nav-link">
                                            <i class="menu-icon las la-dot-circle"></i>
                                            <span class="menu-title">Notification
                                                Templates</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sidebar__menu-header">Frontend
                            Manager</li>

                        <li class="sidebar-menu-item ">
                            <a href="frontend/manage-pages.html" class="nav-link ">
                                <i class="menu-icon la la-list"></i>
                                <span class="menu-title">Manage Pages</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <!-- sidebar end -->

        <!-- navbar-wrapper start -->
        <nav class="navbar-wrapper bg--dark">
            <div class="navbar__left">
                <button type="button" class="res-sidebar-open-btn me-3"><i class="las la-bars"></i></button>
                <form class="navbar-search">
                    <input type="search" name="#0" class="navbar-search-field" id="searchInput" autocomplete="off"
                        placeholder="Search here...">
                    <i class="las la-search"></i>
                    <ul class="search-list"></ul>
                </form>
            </div>
            <div class="navbar__right">
                <ul class="navbar__action-list">

                    <li class="dropdown">
                        <button type="button" class="primary--layer" data-bs-toggle="dropdown" data-display="static"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="las la-bell text--primary  icon-left-right "></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu--md p-0 border-0 box--shadow1 dropdown-menu-right">
                            <div class="dropdown-menu__header">
                                <span class="caption">Notification</span>
                                <p>You have 612 unread notification</p>
                            </div>
                            <div class="dropdown-menu__body">
                                <a href="admin/notification/read/1178" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">send 0
                                                by Web Money</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                2 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1177" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">send 0
                                                by Web Money</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                2 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1176" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">New
                                                member registered</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                2 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1175" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">New
                                                member registered</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                5 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1174" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">New
                                                member registered</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                7 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1173" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">send 0
                                                by Bkash</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                9 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1172" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">New
                                                member registered</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                9 hours ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1171" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">SMS
                                                Error: Bad Credentials</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                1 day ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1170" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">New
                                                withdraw request from
                                                perry321</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                1 day ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                                <a href="admin/notification/read/1169" class="dropdown-menu__item">
                                    <div class="navbar-notifi">
                                        <div class="navbar-notifi__left bg--green b-radius--rounded"><img
                                                src="placeholder-image/350x300" alt="Profile Image"></div>
                                        <div class="navbar-notifi__right">
                                            <h6 class="notifi__title">send 0
                                                by Payoneer</h6>
                                            <span class="time"><i class="far fa-clock"></i>
                                                1 day ago</span>
                                        </div>
                                    </div><!-- navbar-notifi end -->
                                </a>
                            </div>
                            <div class="dropdown-menu__footer">
                                <a href="admin/notifications" class="view-all-message">View all
                                    notification</a>
                            </div>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button type="button" class data-bs-toggle="dropdown" data-display="static" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="navbar-user">
                                <span class="navbar-user__thumb"><img src="../../assets/images/default.png"
                                        alt="image"></span>
                                <span class="navbar-user__info">
                                    <span class="navbar-user__name">admin</span>
                                </span>
                                <span class="icon"><i class="las la-chevron-circle-down"></i></span>
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu--sm p-0 border-0 box--shadow1 dropdown-menu-right">
                            <a href="admin/profile" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-user-circle"></i>
                                <span class="dropdown-menu__caption">Profile</span>
                            </a>

                            <a href="admin/password" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-key"></i>
                                <span class="dropdown-menu__caption">Password</span>
                            </a>

                            <a href="admin/logout" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                                <i class="dropdown-menu__icon las la-sign-out-alt"></i>
                                <span class="dropdown-menu__caption">Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- navbar-wrapper end -->

        <div class="body-wrapper">
            <div class="bodywrapper__inner">

                <div class="d-flex mb-30 flex-wrap gap-3 justify-content-between align-items-center">
                    <h6 class="page-title">Deposit - Automated -
                        Successful</h6>
                    <div class="d-flex flex-wrap justify-content-end gap-2 align-items-center breadcrumb-plugins">
                        <a href="admin/notification/templates" class="btn btn-sm btn-outline--primary">
                            <i class="la la-undo"></i> Back</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card overflow-hidden">
                            <div class="card-body p-0">
                                <div class="table-responsive table-responsive--sm">
                                    <table class="table align-items-center table--light">
                                        <thead>
                                            <tr>
                                                <th>Short Code</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            <tr>
                                                <th><span class="short-codes">{{trx}}</span></th>
                                                <td>Transaction number for
                                                    the deposit</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{amount}}</span></th>
                                                <td>Amount inserted by the
                                                    user</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{charge}}</span></th>
                                                <td>Gateway charge set by
                                                    the admin</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{rate}}</span></th>
                                                <td>Conversion rate between
                                                    base currency and method
                                                    currency</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{method_name}}</span></th>
                                                <td>Name of the deposit
                                                    method</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{method_currency}}</span></th>
                                                <td>Currency of the deposit
                                                    method</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{method_amount}}</span></th>
                                                <td>Amount after conversion
                                                    between base currency
                                                    and method currency</td>
                                            </tr>
                                            <tr>
                                                <th><span class="short-codes">{{post_balance}}</span></th>
                                                <td>Balance of the user
                                                    after this
                                                    transaction</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- card end -->

                        <h6 class="mt-4 mb-2">Global Short Codes</h6>
                        <div class="card overflow-hidden">
                            <div class="card-body p-0">
                                <div class="table-responsive table-responsive--sm">
                                    <table class=" table align-items-center table--light">
                                        <thead>
                                            <tr>
                                                <th>Short Code </th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            <tr>
                                                <td><span class="short-codes">{{site_name}}</span></td>
                                                <td>Name of your site</td>
                                            </tr>
                                            <tr>
                                                <td><span class="short-codes">{{site_currency}}</span></td>
                                                <td>Currency of your
                                                    site</td>
                                            </tr>
                                            <tr>
                                                <td><span class="short-codes">{{currency_symbol}}</span></td>
                                                <td>Symbol of currency</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <form action="admin/notification/template/update/3" method="post">
                    <input type="hidden" name="_token" value="flFXpoqgX5TqgtkIdw1XgA2WlPLlxFB7Ldeo2CRx">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mt-4">
                                <div class="card-header bg--primary">
                                    <h5 class="card-title text-white">Email
                                        Template</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    placeholder="Email subject" name="subject"
                                                    value="Deposit Completed Successfully" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Status <span class="text-danger">*</span></label>
                                                <input type="checkbox" data-height="46px" data-width="100%"
                                                    data-onstyle="-success" data-offstyle="-danger"
                                                    data-bs-toggle="toggle" data-on="Send Email" data-off="Don't Send"
                                                    name="email_status" checked>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Message <span class="text-danger">*</span></label>
                                                <textarea name="email_body" rows="10" class="form-control nicEdit"
                                                    placeholder="Your message using short-codes">&lt;div&gt;Your
                                                        deposit
                                                        of&amp;nbsp;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;{{amount}}
                                                        {{site_currency}}&lt;/span&gt;&amp;nbsp;is
                                                        via&amp;nbsp;&amp;nbsp;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;{{method_name}}&amp;nbsp;&lt;/span&gt;has
                                                        been completed
                                                        Successfully.&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;Details
                                                        of your Deposit
                                                        :&lt;br&gt;&lt;/span&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Amount
                                                        : {{amount}}
                                                        {{site_currency}}&lt;/div&gt;&lt;div&gt;Charge:&amp;nbsp;&lt;font
                                                        color=&quot;#000000&quot;&gt;{{charge}}
                                                        {{site_currency}}&lt;/font&gt;&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Conversion
                                                        Rate : 1
                                                        {{site_currency}} =
                                                        {{rate}}
                                                        {{method_currency}}&lt;/div&gt;&lt;div&gt;Received
                                                        : {{method_amount}}
                                                        {{method_currency}}&lt;br&gt;&lt;/div&gt;&lt;div&gt;Paid
                                                        via :&amp;nbsp;
                                                        {{method_name}}&lt;/div&gt;&lt;div&gt;&lt;br&gt;&lt;/div&gt;&lt;div&gt;Transaction
                                                        Number :
                                                        {{trx}}&lt;/div&gt;&lt;div&gt;&lt;font
                                                        size=&quot;5&quot;&gt;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;&lt;br&gt;&lt;/span&gt;&lt;/font&gt;&lt;/div&gt;&lt;div&gt;&lt;font
                                                        size=&quot;5&quot;&gt;Your
                                                        current Balance
                                                        is&amp;nbsp;&lt;span
                                                        style=&quot;font-weight:
                                                        bolder;&quot;&gt;{{post_balance}}
                                                        {{site_currency}}&lt;/span&gt;&lt;/font&gt;&lt;/div&gt;&lt;div&gt;&lt;br
                                                        style=&quot;font-family:
                                                        Montserrat,
                                                        sans-serif;&quot;&gt;&lt;/div&gt;</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card mt-4">
                                <div class="card-header bg--primary">
                                    <h5 class="card-title text-white">SMS
                                        Template</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Status <span class="text-danger">*</span></label>
                                                <input type="checkbox" data-height="46px" data-width="100%"
                                                    data-onstyle="-success" data-offstyle="-danger"
                                                    data-bs-toggle="toggle" data-on="Send SMS" data-off="Don't Send"
                                                    name="sms_status" checked>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Message</label>
                                                <textarea name="sms_body" rows="10" class="form-control"
                                                    placeholder="Your message using short-codes" required>{{amount}}
                                                        {{site_currency}}
                                                        Deposit successfully by
                                                        {{method_name}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn--primary w-100 h-45 mt-4">Submit</button>
                </form>

            </div><!-- bodywrapper__inner end -->
        </div><!-- body-wrapper end -->
    </div>

    <script src="assets/global/js/jquery-3.6.0.min.js"></script>
    <script src="assets/global/js/bootstrap.bundle.min.js"></script>
    <script src="assets/admin/js/vendor/bootstrap-toggle.min.js"></script>
    <script src="assets/admin/js/vendor/jquery.slimscroll.min.js"></script>

    <link rel="stylesheet" href="assets/global/css/iziToast.min.css">
    <script src="assets/global/js/iziToast.min.js"></script>

    <script>
        "use strict";
        function notify(status, message) {
            if (typeof message == 'string') {
                iziToast[status]({
                    message: message,
                    position: "topRight"
                });
            } else {
                $.each(message, function (i, val) {
                    iziToast[status]({
                        message: val,
                        position: "topRight"
                    });
                });
            }
        }
    </script>

    <script src="assets/admin/js/nicEdit.js"></script>

    <script src="assets/global/js/select2.min.js"></script>
    <script src="assets/admin/js/app.js"></script>

    <script>
        "use strict";
        bkLib.onDomLoaded(function () {
            $(".nicEdit").each(function (index) {
                $(this).attr("id", "nicEditor" + index);
                new nicEditor({
                    fullPanel: true
                }).panelInstance('nicEditor' + index, {
                    hasPanel: true
                });
            });
        });
        (function ($) {
            $(document).on('mouseover ', '.nicEdit-main,.nicEdit-panelContain', function () {
                $('.nicEdit-main').focus();
            });
        })(jQuery);
    </script>

    <script>
        if ($('li').hasClass('active')) {
            $('#sidebar__menuWrapper').animate({
                scrollTop: eval($(".active").offset().top - 320)
            }, 500);
        }
    </script>

</body>

</html>